<%# 守備・起用 %>
<div class="row p-2">
  <%# 基礎能力部 %>
  <div class="col-3 pe-4 pawa-text-main">
    <div class="d-flex justify-content-start row border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
      <div class="col-5 p-0">
        <div class="pawa-ability-label">走力</div>
      </div>
      <div class="col-7 ps-3 py-2">
        <span class="pawa-text-d me-2 h5">D</span>
        <span class="h5">53</span>
      </div>
    </div>
    <div class="d-flex justify-content-start row border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
      <div class="col-5 p-0">
        <div class="pawa-ability-label">肩力</div>
      </div>
      <div class="col-7 ps-3 py-2">
        <span class="pawa-text-f me-2 h5">F</span>
        <span class="h5">39</span>
      </div>
    </div>
    <%# 各ポジション適正 %>
    <div class="d-flex justify-content-start row border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
      <div class="col-6 d-flex align-items-center p-0">
        <div class="col-5 p-0">
        <div class="pawa-ability-label">守備力</div>
      </div>
      </div>
      <div class="col-6 ps-3 py-2 pawa-border-main border-bottom-0">
        <span class="pawa-text-neutral me-2 h5">投</span>
        <span class="h5 pawa-text-neutral">--</span>
      </div>
      <div class="col-6 ps-3 py-3 pawa-border-main border-bottom-0 border-end-0">
        <span class="pawa-text-neutral me-2 h5">捕</span>
        <span class="h5 pawa-text-neutral">--</span>
      </div>
      <div class="col-6 ps-3 py-3 pawa-border-main border-bottom-0">
        <span class="pawa-text-neutral me-2 h5">一</span>
        <span class="h5 pawa-text-neutral">--</span>
      </div>
      <div class="col-6 ps-3 py-3 pawa-border-main border-bottom-0 border-end-0">
        <span class="pawa-text-neutral me-2 h5">二</span>
        <span class="h5 pawa-text-neutral">--</span>
      </div>
      <div class="col-6 ps-3 py-3 pawa-border-main border-bottom-0">
        <span class="pawa-text-neutral me-2 h5">三</span>
        <span class="h5 pawa-text-neutral">--</span>
      </div>
      <div class="col-6 ps-3 py-2 pawa-border-main border-end-0">
        <span class="pawa-text-neutral me-2 h5">遊</span>
        <span class="h5 pawa-text-neutral">--</span>
      </div>
      <div class="col-6 ps-3 py-2 pawa-border-main">
        <span class="pawa-text-neutral me-2 h5">外</span>
        <span class="pawa-text-e me-2 h5">E</span>
        <span class="h5">42</span>
      </div>
    </div>
    <div class="d-flex justify-content-start row border border-3 border-white rounded p-1 pawa-bg-main">
      <div class="col-5 p-0">
        <div class="pawa-ability-label">捕球</div>
      </div>
      <div class="col-7 ps-3 py-2">
        <span class="pawa-text-d me-2 h5">D</span>
        <span class="h5">54</span>
      </div>
    </div>
  </div>
  <%# 特殊能力部 %>
  <div class="col-9 bg-light border border-3 border-white rounded">
    <div class="row">
      <div class="col fs-3 bg-white pawa-border-main-in rounded">
        <div class="row pt-1 pb-1 ps-1 text-center">
          <span class="col-12 ps-2 pawa-text-main">起用</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col fs-3 pawa-bg-sa-g1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-g2 rounded pawa-text-good tighter-letter-spacing">国際大会◯</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-s1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-s2 rounded pawa-text-sub">慎重打法</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-s1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-s2 rounded pawa-text-sub">積極走塁</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
      <div class="col fs-3 pawa-bg-sa-n1 rounded">
        <div class="row p-1 text-center">
          <span class="col-12 pawa-bg-sa-n2 rounded pawa-text-neutral">&nbsp;</span>
        </div>
      </div>
    </div>
  </div>
</div>
