<%# プロフィール %>
<div class="row p-2">
  <%# 基礎能力部 %>
  <div class="col-3 pe-4 pawa-text-main">
    <div class="d-flex justify-content-start row border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
      <span class="col-5 pawa-border-main rounded p-1 text-center bg-white">弾道</span>
      <div class="col-7 ps-3 py-2">
        <span class="pawa-text-a me-2 h5">↗</span>
        <span class="h5">4</span>
      </div>
    </div>
    <div class="d-flex justify-content-start row border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
      <span class="col-5 pawa-border-main rounded p-1 text-center bg-white">ミート</span>
      <div class="col-7 ps-3 py-2">
        <span class="pawa-text-b me-2 h5">B</span>
        <span class="h5">77</span>
      </div>
    </div>
    <div class="d-flex justify-content-start row border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
      <span class="col-5 pawa-border-main rounded p-1 text-center bg-white">パワー</span>
      <div class="col-7 ps-3 py-2">
        <span class="pawa-text-b me-2 h5">B</span>
        <span class="h5">75</span>
      </div>
    </div>
    <div class="d-flex justify-content-start row border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
      <span class="col-5 pawa-border-main rounded p-1 text-center bg-white">走力</span>
      <div class="col-7 ps-3 py-2">
        <span class="pawa-text-d me-2 h5">D</span>
        <span class="h5">57</span>
      </div>
    </div>
    <div class="d-flex justify-content-start row border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
      <span class="col-5 pawa-border-main rounded p-1 text-center bg-white">肩力</span>
      <div class="col-7 ps-3 py-2">
        <span class="pawa-text-f me-2 h5">F</span>
        <span class="h5">39</span>
      </div>
    </div>
    <div class="d-flex justify-content-start row border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
      <span class="col-5 pawa-border-main rounded p-1 text-center bg-white">守備力</span>
      <div class="col-7 ps-3 py-2">
        <span class="pawa-text-d me-2 h5">D</span>
        <span class="h5">51</span>
      </div>
    </div>
    <div class="d-flex justify-content-start row border border-3 border-white rounded p-1 pawa-bg-main">
      <span class="col-5 pawa-border-main rounded p-1 text-center bg-white">捕球</span>
      <div class="col-7 ps-3 py-2">
        <span class="pawa-text-d me-2 h5">D</span>
        <span class="h5">54</span>
      </div>
    </div>
  </div>
  <%# プロフィール部 %>
  <div class="col-9 pawa-text-main">
    <div class="row">
      <div class="col-7 d-flex justify-content-start border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
        <span class="col-5 pawa-border-main rounded p-1 text-center bg-white">氏名</span>
        <div class="col-7 ps-3 py-2">
          <span class="h5">吉田　正尚</span>
        </div>
      </div>
      <div class="col-5 d-flex justify-content-start border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
        <span class="col-5 pawa-border-main rounded p-1 text-center bg-white">背ネーム</span>
        <div class="col-7 ps-3 py-2">
          <span class="h5">YOSIDA</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-7 d-flex justify-content-start border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
        <span class="col-5 pawa-border-main rounded p-1 text-center bg-white">誕生日</span>
        <div class="col-7 ps-3 py-2">
          <span class="h5">1993年　7月15日</span>
        </div>
      </div>
      <div class="col-5 d-flex justify-content-start border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
        <span class="col-5 pawa-border-main rounded p-1 text-center bg-white">年齢</span>
        <div class="col-7 ps-3 py-2">
          <span class="h5">29歳</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-start border border-3 border-white rounded p-1 mb-1 pawa-bg-main">
        <span class="col-5 pawa-border-main rounded p-1 text-center bg-white">備考</span>
        <div class="col-7 ps-3 py-2">
          <span class="h5">ボストンのムキムキマッチョマン。</span>
        </div>
      </div>
    </div>
  </div>
</div>
