<%# 選手詳細モーダル %>
<div class="modal fade" id="playerModal" tabindex="-1" aria-labelledby="playerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <div class="modal-body">
        <div class="d-flex justify-content-between">
          <h5 class="modal-title" id="playerDetails">吉田正</h5>
          <p>守備位置：<strong>外</strong></p>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="d-flex justify-content-start">
              <span class="border">弾道</span>
              <div>4</div>
            </div>
            <div class="d-flex justify-content-start">
              <span class="border">ミート</span>
              <div>B：77</div>
            </div>
            <div class="d-flex justify-content-start">
              <span class="border">パワー</span>
              <div>B：75</div>
            </div>
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col">チャンス：C</div>
              <div class="col">対左投手：F</div>
              <div class="col"></div>
              <div class="col">ケガしにくさD</div>
            </div>
            <div class="row">
              <div class="col">盗塁：D</div>
              <div class="col">走塁：D</div>
              <div class="col">送球：D</div>
              <div class="col">回復：B</div>
            </div>
            <div class="row">
              <div class="col">アベレージヒッター</div>
              <div class="col">固め打ち</div>
              <div class="col">粘り打ち</div>
              <div class="col">内野安打◯</div>
            </div>
            <div class="row">
              <div class="col">インコースヒッター</div>
              <div class="col">カット打ち</div>
              <div class="col">マルチ弾</div>
              <div class="col">悪球打ち</div>
            </div>
            <div class="row">
              <div class="col">選球眼</div>
              <div class="col">col</div>
              <div class="col">col</div>
              <div class="col">col</div>
            </div>
            <div class="row">
              <div class="col">col</div>
              <div class="col">col</div>
              <div class="col">col</div>
              <div class="col">col</div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
