<div class="container">
  <h1>パワプロ：入力内容確認</h1>
  <div>※まだ登録は完了していません</div>
  <div>下記の内容で登録します。よろしいですか？</div>
  <%#= form_for @pawapuro, url: pawapuro_path do |f| %>
    <!-- ここに確認するデータの表示 -->
    <%#= f.submit "登録する" %>
    <%# end %>
  </div>
