<%# 作成選手一覧 %>
<div class="container">
  <h1>作成選手一覧</h1>
  <%# 検索 %>
  <form class="mb-3">
    <%# 投/打ラジオ %>
    <label class="form-label">表示能力</label>
    <div class="mb-3">
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="formRadio" type="radio" id="formRadioPitcher">
        <label class="form-check-label" for="formRadioPitcher">
          投手
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" name="formRadio" type="radio" id="formRadioFielder" checked>
        <label class="form-check-label" for="formRadioFielder">
          野手
        </label>
      </div>
    </div>
    <%# 選手名 %>
    <div class="mb-3">
      <label for="name" class="form-label">選手名</label>
      <input type="search" class="form-control" id="name" autocomplete="name">
    </div>
    <%# ポジション %>
    <%# TODO: チェックボックスにし、全ポジション表示 %>
    <div class="mb-3">
      <label for="position" class="form-label">ポジション</label>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="subPositionSwitch">
        <label class="form-check-label" for="subPositionSwitch">サブポジションを含む</label>
      </div>
      <input type="search" class="form-control" id="position" autocomplete="name">
    </div>
    <%# 検索ボタン %>
    <input type="submit" class="btn btn-primary" value="検索">
  </form>
  <%# 一覧表示部 %>
  <table class="table table-striped caption-top">
    <caption>※ 行クリックで、詳細モーダルを開きます。</caption>
    <thead>
      <tr>
        <th scope="col" class="align-middle">#</th>
        <th scope="col" class="align-middle">選手名</th>
        <th scope="col" class="align-middle">守備位置</th>
        <th scope="col" class="align-middle">投打</th>
        <th scope="col" class="align-middle">弾道</th>
        <th scope="col" class="align-middle">ミート</th>
        <th scope="col" class="align-middle">パワー</th>
        <th scope="col" class="align-middle">走力</th>
        <th scope="col" class="align-middle">肩力</th>
        <th scope="col" class="align-middle">守備力</th>
        <th scope="col" class="align-middle">捕球</th>
        <th scope="col" class="align-middle">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="align-middle">1</th>
        <td class="align-middle">吉田正</td>
        <td class="align-middle"><strong>外</strong></td>
        <td class="align-middle">右投左打</td>
        <td class="align-middle pawa-text-a">4</td>
        <td class="align-middle pawa-text-b">B:77</td>
        <td class="align-middle pawa-text-b">B:75</td>
        <td class="align-middle pawa-text-d">D:57</td>
        <td class="align-middle pawa-text-f">F:39</td>
        <td class="align-middle pawa-text-d">D:51</td>
        <td class="align-middle pawa-text-d">D:54</td>
        <td class="align-middle">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#playerDetailsModal">
            詳細
          </button>
          <button type="button" class="btn btn-danger">削除</button>
        </td>
      </tr>
      <tr>
        <th scope="row" class="align-middle">2</th>
        <td class="align-middle">源田</td>
        <td class="align-middle"><strong>遊</strong>・二・三</td>
        <td class="align-middle">右投左打</td>
        <td class="align-middle pawa-text-d">2</td>
        <td class="align-middle pawa-text-e">E:43</td>
        <td class="align-middle pawa-text-e">E:42</td>
        <td class="align-middle pawa-text-a">A:86</td>
        <td class="align-middle pawa-text-c">C:67</td>
        <td class="align-middle pawa-text-a">A:89</td>
        <td class="align-middle pawa-text-b">B:77</td>
        <td class="align-middle">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#playerDetailsModal">
            詳細
          </button>
          <button type="button" class="btn btn-danger">削除</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<%# 選手詳細モーダル %>
<%= render 'player_details_modal' %>
